body {
    background-image: url(images/stars.png);
}

div#space {
    width: 50%;
    height: 95vh;
    margin-left: 25%;
    position: relative;
    background-image: url(images/stars1.png);
    background-size: 50%;
    margin-top: 1%;
    border: oldlace;
    border-style: solid;
    border-width: 1px;
    clip-path: url(#mask);
}

div#moon {
    position: absolute;
    background-image: url(images/moon.png);
    background-size: 100%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

div#rocket {
    position: absolute;
    background-image: url(images/—Pngtree—flying\ rocket_3718748.png);
    background-size: 100%;
    width: 100px;
    height: 100px;
    display: none;
    border-radius: 50%;
    transform: translateZ(0);
}

div#boom {
    position: absolute;
    width: 120px;
    height: 90px;
    top: 0;
    left: 0;
}

div#boom1 {
    position: absolute;
    width: 120px;
    height: 90px;
    top: 0;
    left: 0;
    background-size: 75%;
}

div#points {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 70%;
    z-index: 0;
    transition: width 2s, height 2s, opacity 2s;
    width: 20px;
    height: 30px;
    opacity: 1;
}

hr#line {
    height: 2px;
    width: 100%;
    position: absolute;
    top: 70%;
    background-color: #ffffff;
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 90px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
}

div#scoreContainer {
    position: absolute;
    top: 10%;
    left: 81%;
    color: white;
    text-align: center;
    font-family: fantasy;
    font-size: x-large;
    font-weight: 900;
}

div#mainMenu {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

input[type='button']:disabled {
    background-color: #ccc;
}

#mainMenu input {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
    margin: 1%;
}

input#scoreTable {
    background-color: gray;
}

input#nickname {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    text-shadow: none;
    color: black;
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
    margin: 1%;
    outline: none;
}

#mainMenu img {
    height: 40%;
    width: 40%;
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

#userLifes {
    position: absolute;
    top: 20%;
    left: 80%;
    display: flex;
}

.heart {
    background-image: url(images/heart.png);
    background-repeat: no-repeat;
    background-size: 110%;
    width: 50px;
    height: 50px;
}

div#gameOver {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 40%;
    left: 20%;
    width: 60%;
    height: 50vh;
}

div#gameOverPicture {
    background-image: url(images/game_over.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 50%;
}

span#gameOverScore {
    color: white;
    font-family: fantasy;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    width: 100%;
    height: 30%;
    margin: 5%;
}

input#backToMenu {
    width: 100%;
    height: 30%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
    margin: 1%;
}

div#topScores {
    width: 80%;
    height: 90vh;
    background-color: tomato;
    left: 10%;
    top: -100%;
    border-radius: 10%;
    position: absolute;
    -webkit-transition-duration: 3s;
    transition-duration: 3s;
    transform: translateZ(0);
}

#closeScoreTable {
    position: absolute;
    top: 1%;
    left: 95%;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: black;
    border-style: solid;
    border-width: 2px;
}